<?xml version="1.0" encoding="utf-8"?>


  <configuration>
    <connectionStrings>
      <add name="conn1" connectionString="server=许炜\SQLEXPRESS;uid=xw;pwd=199611xw;database=xzwc" />
      <add name="xzwcConnectionString" connectionString="Data Source=许炜\SQLEXPRESS;Initial Catalog=xzwc;User ID=xw;Password=199611xw"
        providerName="System.Data.SqlClient" />
      <add name="xzwcConnectionString2" connectionString="Data Source=许炜\SQLEXPRESS;Initial Catalog=xzwc;User ID=xw;Password=199611xw"
        providerName="System.Data.SqlClient" />
      <add name="xzwcConnectionString3" connectionString="Data Source=许炜\SQLEXPRESS;Initial Catalog=xzwc;User ID=xw;Password=199611xw"
        providerName="System.Data.SqlClient" />
    </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

</configuration>
